In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
url= "https://www.espncricinfo.com/series/icc-cricket-world-cup-2023-24-1367856/india-vs-australia-final-1384439/full-scorecard"

source = requests.get(url)

soup = bs(source.text,"lxml")

bow = soup.find_all("thead",class_="ds-bg-fill-content-alternate ds-text-left")[3].find_all("th")

bowl = [i.text for i in bow]

df2 = pd.DataFrame(columns = bowl)

df2["country"] = None

df2["match id"] = None

ids = []

for i in range(4658,4706):

  ids.append("ODI # {}".format(i))

count = 0

for i in range(392,440):

  url = "https://www.espncricinfo.com/series/icc-cricket-world-cup-2023-24-1367856/india-vs-new-zealand-1st-semi-final-1384{}/full-scorecard".format(i)

  source = requests.get(url)

  soup = bs(source.text,"lxml")

  b_d = soup.find_all("tbody")[1].find_all("tr",class_="")

  count +=1

  for i in b_d:
    data = i.find_all("td")

    bowling = [j.text for j in data]

    bowli1 = soup.find_all("span",class_="ds-text-title-xs ds-font-bold ds-capitalize")[1].text

    bowling.append(bowli1)

    bowling.append(ids[count-1])

    l = len(df2)

    if len(bowling) == len(df2.columns):

      df2.loc[l] = bowling


  b_d1 = soup.find_all("tbody")[3].find_all("tr",class_="")

  for i in b_d1:

    data1 = i.find_all("td")

    bowling1 = [j.text for j in data1]

    bowli = soup.find("span",class_="ds-text-title-xs ds-font-bold ds-capitalize").text

    bowling1.append(bowli)

    bowling1.append(ids[count-1])

    l = len(df2)

    if len(bowling1) == len(df2.columns):

      df2.loc[l] = bowling1

col1 = df2.pop("country")

df2.insert(0,"country",col1)

df2.to_csv("bowling details.csv",index=None)

df2

,country,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB,match id
0,New Zealand,Trent Boult,10,1,48,1,4.80,34,3,2,1,0,ODI # 4658
1,New Zealand,Matt Henry,10,1,48,3,4.80,31,6,0,0,0,ODI # 4658
2,New Zealand,Mitchell Santner,10,0,37,2,3.70,26,0,0,1,0,ODI # 4658
3,New Zealand,James Neesham,7,0,56,0,8.00,15,5,2,2,0,ODI # 4658
4,New Zealand,Rachin Ravindra,10,0,76,1,7.60,14,6,2,0,0,ODI # 4658
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,India,Jasprit Bumrah,9,2,43,2,4.77,37,8,0,0,0,ODI # 4705
570,India,Mohammed Shami,7,1,47,1,6.71,28,6,1,3,0,ODI # 4705
571,India,Ravindra Jadeja,10,0,43,0,4.30,29,1,1,1,0,ODI # 4705
572,India,Kuldeep Yadav,10,0,56,0,5.60,25,3,2,0,0,ODI # 4705
573,India,Mohammed Siraj,7,0,45,1,6.42,16,4,1,0,0,ODI # 4705